[data-kt-app-sidebar-fixed=true] .app-sidebar {
    right: 0 !important;
    left: auto !important;
}

.start-100 {
    right: 100% !important;
    left: auto !important;
    margin-right: -30px;
}

[data-kt-app-header-fixed=true][data-kt-app-sidebar-fixed=true][data-kt-app-sidebar-push-header=true] .app-header, [data-kt-app-header-fixed=true][data-kt-app-sidebar-sticky=on][data-kt-app-sidebar-push-header=true] .app-header {
    right: calc(var(--bs-app-sidebar-width) + var(--bs-app-sidebar-gap-start, 0px) + var(--bs-app-sidebar-gap-end, 0px));
    left: 0 !important;
}
[data-kt-app-sidebar-fixed=true] .app-wrapper {
    margin-right: calc(var(--bs-app-sidebar-width) + var(--bs-app-sidebar-gap-start, 0px) + var(--bs-app-sidebar-gap-end, 0px));
    margin-left: 0!important;
}

.dataTables_filter label{
    direction: rtl !important;
}

/*div.dataTables_wrapper div.dataTables_filter {    text-align: right !important;}*/
table.table.dataTable {
    direction: rtl;
}
table.table.dataTable th {
    text-align: right!important;
}
.data-kt-Customer-table-toolbar {direction: ltr}
.sortable li.mjs-nestedSortable-leaf div {text-align: right!important;}
.custom_form_switch {text-align: right!important;}
